<!-- <a class="card">
    <span><button color="warn" mat-raised-button (click)="login()">Login With Google</button></span>
</a> -->

<button type="button" (click)="login()" class="btn btn-dark">Login With Google</button>