<div class="row">
    <div class="col-md-6">
        <form [formGroup]="categoryForm" #formDirective="ngForm">
            <div class='form-group'>
                <label for='title'>Title</label>
                <input id='title' formControlName="title" type='text' class='form-control' placeholder="Title">
                <div class="alert alert-danger"
                    *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
                    Title is
                    Required</div>
            </div>
            <div class='form-group'>
                <label for='price'>Price</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">INR</span>
                    <input id='price' formControlName="price" type='number' class='form-control' minlength="1"
                        placeholder="Price">
                </div>
                <div *ngIf="form.controls['price'].invalid">
                    <div class="alert alert-danger"
                        *ngIf="form.controls['price'].touched && form.controls['price'].errors.required">
                        Price
                        is
                        Required
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="form.controls['price'].touched && form.controls['price'].errors.min">
                        Price should be greater than 0
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label for='category'>Category</label>
                <select formControlName="category" class='form-control' id='category' placeholder="Category">
                    <option value="" disabled>Select</option>
                    <option *ngFor="let cat of categories$ | async" [value]="cat.name">{{cat.name}}</option>
                </select>
                <div class="alert alert-danger"
                    *ngIf="form.controls['category'].invalid && form.controls['category'].touched">
                    Select Category
                </div>
            </div>
            <div class='form-group'>
                <label for='imageUrl'>Image Url</label>
                <input id='imageUrl' formControlName="imageUrl" type='url' class='form-control' placeholder="Image Url">
                <div class="alert alert-danger"
                    *ngIf="form.controls['imageUrl'].invalid && form.controls['imageUrl'].touched">
                    <div *ngIf="form.controls['imageUrl'].errors.required">
                        ImageUrl is
                        Required
                    </div>
                    <div *ngIf="form.controls['imageUrl'].errors.pattern">
                        Invalid URL
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mr-1" (click)="saveForm(categoryForm, formDirective)">Save</button>
            <button class="btn btn-danger" (click)="delete()">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="form.get('imageUrl').value" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{form.get('title').value}}</h5>
                <p class="card-text">{{form.get('price').value | currency:"&#8377;"}}</p>
            </div>
        </div>
    </div>
</div>