<!-- <span class="example-spacer"></span>
<button mat-button routerLink="/">Home</button>
<button mat-button routerLink="/shopping-cart">Shopping Cart</button>
<ng-template #anonymouse>
    <button mat-button routerLink="/login">Login</button>
</ng-template>
<button *ngIf="appUser; else anonymouse" mat-button [matMenuTriggerFor]="menu">{{appUser.name}}</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/my/orders">My Order</button>
    <ng-container *ngIf="appUser?.isAdmin">
        <button mat-menu-item routerLink="/admin/orders">Manage Order</button>
        <button mat-menu-item routerLink="/admin/products">Manage Products</button>
    </ng-container>
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
</button> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">SHOP-NOW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
            </li>
            <ng-template #anonymouse>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ng-template>
            <li *ngIf="appUser; else anonymouse" ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{appUser.name}}
                </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                    <ng-container *ngIf="appUser.isAdmin">
                        <a class=" dropdown-item" routerLink="/admin/products">Manage Products</a>
                        <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                    </ng-container>
                    <a class="dropdown-item" (click)="logout()" routerLink="">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>