<!-- <div class="content" role="main">
  <div class="toolbar" role="banner">
    <img width="40" alt="" src="" />
    <span>Welcome</span>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <app-navbar></app-navbar>
  </div>
  <router-outlet></router-outlet>
</div> -->


<app-navbar></app-navbar>
<div class="container">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>

</div>