<button type="button" routerLink="/admin/product/new" class="btn btn-dark">New Product</button>
<br>
<br>

<p>
    <input type="text" (keyup)="filter(search.value)" #search class="form-control" placeholder="Search here.."
        aria-describedby="emailHelp">
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of this.filteredProducts;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{p.title}}</td>
            <td><a [routerLink]="['/admin/products/', p.key]">Edit</a></td>
            <td></td>
        </tr>
    </tbody>
</table>